@media (min-width: 768px) {
	.cards {
		&__box {
			padding: 10em 2em;
			// grid-template-columns:  repeat(9, 1fr) ;
			// grid-template-rows:auto 1fr auto;
		}

		&__card {
			&--one {
				grid-row: 1/2;
				grid-column: 1/4;
			}
			&--two {
				grid-row: 1/2;
				grid-column: 4/7;
			}
			&--three {
				grid-row: 1/2;
				grid-column: 7/10;
			}
		}
	}
}
